---
# =============================================================================
# Portal setup settings (from fresh server)

# User settings
webportal_user: "user"
webportal_user_authorized_keys: "https://raw.githubusercontent.com/SkynetLabs/skynet-webportal/master/setup-scripts/support/authorized_keys"
webportal_temp_user: "userdance"
access_check_timeout_secs: 5

initial_users:
  - username: "{{ webportal_user }}"
    uid: 1000
    password_hash: "{{ webportal_user_pass_hash }}"
    authorized_keys: "{{ webportal_user_authorized_keys }}"

# Security settings
# geerlingguy.security role vars
security_sudoers_passworded: "{{ [webportal_user] }}"
security_autoupdate_enabled: False
security_fail2ban_enabled: True

# Server settings
# Timezone
webportal_server_set_timezone: True
webportal_server_timezone: "UTC"
# Update server hostname to inventory hostname
webportal_update_hostname: True

# geerlingguy.docker role vars
docker_users: "{{ [webportal_user] }}"

# UFW firewall settings
group_ufw_rules:
  - { rule: "allow", port: "80", proto: "tcp", direction: "in" }
  - { rule: "allow", port: "443", proto: "tcp", direction: "in" }
ufw_deny_outgoing_to_local_network: True
local_networks_allowed:
  - "10.10.10.10/24"
local_networks_denied:
  - "10.0.0.0/8"
  - "172.16.0.0/12"
  - "192.168.0.0/16"
  - "100.64.0.0/10"
  - "198.18.0.0/15"
  - "169.254.0.0/16"

# LastPass settings
lastpass_ansible_dir: "Shared-Ansible"
lastpass_portal_config_common: "{{ lastpass_ansible_dir }}/portal-common-configs/common.yml"
lastpass_portal_config_cluster: "{{ lastpass_ansible_dir }}/portal-cluster-configs/cluster-{{ portal_cluster_id }}.yml"
lastpass_portal_config_server: "{{ lastpass_ansible_dir }}/portal-server-configs/{{ inventory_hostname }}.yml"

# Portal paths settings
webportal_user_home_dir: "/home/{{ webportal_user }}"
webportal_dir: "{{ webportal_user_home_dir }}/skynet-webportal"
devops_dir: "{{ webportal_user_home_dir }}/devops"
logs_dir: "{{ devops_dir }}/logs"
setup_status_dir: "{{ devops_dir }}/setup"
setup_status_file: "{{ setup_status_dir }}/status"
devops_scripts_dir: "{{ devops_dir }}/scripts"
webportal_cron_file: "{{ webportal_dir }}/setup-scripts/support/crontab"
mongo_data_dir: "{{ webportal_dir }}/docker/data/mongo"
mongo_db_dir: "{{ mongo_data_dir }}/db"
mongo_backups_dir: "{{ mongo_data_dir }}/backups"
mongo_mgkey_file: "{{ mongo_data_dir }}/mgkey"

# Default service ports
default_mongo_port: 27017

# Docker prune settings
docker_prune_timeout_secs: 1800

# Sia setup settings
# Wallet initialization
use_existing_sia_seed_if_exists: True

# =============================================================================
# Skynet webportal role settings

webportal_repo_url: "https://github.com/SkynetLabs/skynet-webportal.git"
dotfiles_repo_url: "https://gitlab.com/NebulousLabs/dotfiles.git"

# TODO: make optional, general
webportal_git_config:
  - name: user.name
    value: "SkynetLabs Devs"
  - name: user.email
    value: "{{ skynetlabs_devs_email }}"

# TODO: default in role: False
webportal_setup_dotfiles_and_dev_tools: True

# TODO: move to role default vars
webportal_allowance:
  amount: 100KS
  expected_storage: 10TB
  expected_upload: 4TB
  expected_download: 2TB
  expected_redundancy: 5
  max_storage_price: 300SC
  payment_contract_initial_funding: 10SC
  period: 8640b

# TODO: move to role default vars
webportal_server_config_defaults:
  domain_name: "{{ ansible_host }}"
  portal_name: "{{ ansible_host }}"
  portal_modules: ""
  sia_wallet_password: ""
  sia_api_port: 9980
  hsd_api_key: "{{ lookup('pipe','openssl rand -base64 32') }}"

# TODO: move to role default vars
# TODO: default to: False
webportal_setup_health_checks: True

# =============================================================================
# Portal deploy settings (on running server)

# Portal config files (docker-compose.*, .env)
webportal_docker_compose_files_mandatory:
  - "docker-compose.yml"

# Docker compose files should be in order of dependency. For example, accounts
# depends on mongo so mongo needs to be before accounts in case accounts
# overrides any mongo settings. This is also why the override file should always
# be last.
webportal_docker_compose_files_optional:
  - "docker-compose.mongodb.yml"
  - "docker-compose.accounts.yml"
  - "docker-compose.jaeger.yml"
  - "docker-compose.override.yml"

# Dictionary of optional portal modules defining which docker-compose files
# should be added to docker-compose build/up command.
webportal_docker_compose_files_dict:
  a: "docker-compose.accounts.yml"
  j: "docker-compose.jaeger.yml"
  m: "docker-compose.mongodb.yml"

webportal_other_config_files:
  - ".env"

# skynet-js vars
skynet_js_org_and_repo: "SkynetLabs/skynet-js"
skynet_js_repo_url: "https://github.com/{{ skynet_js_org_and_repo }}.git"
skynet_js_repo_api_url: "https://api.github.com/repos/{{ skynet_js_org_and_repo }}"
skynet_js_docker_test_image: "node:14-buster-slim"

# Local git checkouts
local_temp_skynetlabs_git_repos: "/tmp/SkynetLabs-ansible/git-repos"
local_temp_skynetlabs_git_repos_skynet_js: "{{ local_temp_skynetlabs_git_repos }}/skynet-js"

# Health checks
portal_health_check_disable_delay_secs: 0
# Disable portal when free disk space is lower then x GiB (60 GiB recommended)
portal_health_check_disable_free_disk_space_limit_bytes: "{{ 60e+9 | int }}"

# Waiting for sia full setup and /daemon/ready
sia_full_setup_timeout_secs: 900
sia_daemon_ready_timeout_secs: 600
curl_docker_image: "curlimages/curl:7.77.0"
sia_endpoint_not_available_msg: "491 Module disabled - Refer to API.md"

# docker-compose.override.yml cleaning vars
keep_accounts_services:
  - "nginx"
  - "health-check"
keep_jaeger_services:
  - "sia"

# Do not wait for these docker services
docker_services_exclude_waiting:
  - "kratos-migrate"

# Localhost vars
# my-logs path relative to ./playbooks directory
local_logs_dir: "../my-logs"
# Path relative to ./playbooks/vars directory
private_vars_file: "../../../ansible-private/private-vars/private-vars.yml"

# renter_log_lines defines the strings to match with sed to remove from the sia
# renter.log file
renter_log_lines:
  - "pt not ready yet for worker"
  - "HEALTH LOOP VERBOSE"
  - "dirupdatebatch completed"
