---
# Setup ufw firewall

- name: Install ufw firewall
  apt:
    name: ufw
    state: present

- name: Set ufw defaults
  community.general.ufw:
    direction: "{{ item.direction }}"
    policy: "{{ item.policy }}"
  loop:
    - { direction: 'incoming', policy: 'deny' }
    - { direction: 'outgoing', policy: 'allow' }
  notify:
    - reload ufw firewall

- name: Set ufw rules
  vars:
    default_ufw_rule: { rule: 'limit', port: '{{ ssh_port | default(default_ssh_port | string) }}', proto: 'tcp', direction: "in" }
  community.general.ufw:
    rule: "{{ item.rule }}"
    port: "{{ item.port }}"
    proto: "{{ item.proto }}"
    direction: "{{ item.direction }}"
  loop:
    "{{ [default_ufw_rule] + (host_ufw_rules | default([])) + (group_ufw_rules | default([])) }}"
  notify:
    - reload ufw firewall

# Allow outgoing http, https traffic to local networks (needed for health checks)
# Deny rest of outgoing traffic to local networks
- block:
    
    - name: Allow outgoing http traffic to local networks
      community.general.ufw:
        rule: "allow"
        proto: "tcp"
        direction: "out"
        to_ip: "{{ item }}"
        to_port: "80"
      loop: "{{ local_networks }}"
      notify:
        - reload ufw firewall
    
    - name: Allow outgoing https traffic to local networks
      community.general.ufw:
        rule: "allow"
        proto: "tcp"
        direction: "out"
        to_ip: "{{ item }}"
        to_port: "443"
      loop: "{{ local_networks }}"
      notify:
        - reload ufw firewall
    
    # Needed for serverlist script in cron
    - name: Allow outgoing 9980/tcp traffic to 10.0.0.0/8
      community.general.ufw:
        rule: "allow"
        proto: "tcp"
        direction: "out"
        to_ip: "10.0.0.0/8"
        to_port: "9980"
      notify:
        - reload ufw firewall
    
    - name: Deny non-http, non-https outgoing traffic to local networks
      community.general.ufw:
        rule: "deny"
        proto: "any"
        direction: "out"
        to_ip: "{{ item }}"
      loop: "{{ local_networks }}"
      notify:
        - reload ufw firewall

  when: ufw_deny_outgoing_to_local_network | default(False)

- name: Enable ufw firewall
  community.general.ufw:
    state: enabled
    logging: low
  notify:
    - reload ufw firewall

- name: Reload ufw if needed
  meta: flush_handlers