---
# TODO: This ansible playbook task, should be moved to portal role

- name: Checkout skynet-webportal repository
  ansible.builtin.git:
    repo: "{{ webportal_repo_url }}"
    dest: "{{ webportal_dir }}"
    version: "{{ portal_repo_version }}"
    update: True
    force: True

- name: Configure git
  community.general.git_config:
    name: "{{ item.name }}"
    scope: global
    value: "{{ item.value }}"
  loop: "{{ webportal_git_config }}"

# TODO: add subdomain check (only install portal to subdomain for now)

- name: Create .env file
  ansible.builtin.template:
    src: .env.j2
    dest: "{{ webportal_dir }}/.env"
  register: create_env_file_result

# Save JWKS file for accounts
- block:
    - name: Ensure accounts/conf directory exists
      ansible.builtin.file:
        path: "{{ accounts_conf_dir }}"
        state: directory

    - name: Save jwks.json file
      ansible.builtin.copy:
        dest: "{{ accounts_jwks_path }}"
        content: "{{ accounts_jwks_data }}"
      become: True
  when: portal_accounts_on

# Setup MongoDB
# NOTE: MongoDB docker service must be setup before Sia docker service, because
# skyd depends on mongo.
# TODO: Finish and add back
# - name: Include ensuring MongoDB node is a member of replicaset
#   include_tasks: tasks/portal-role-task-mongo-replicaset-ensure-non-voting-member.yml

- name: Include setting MongoDB docker service
  include_tasks: tasks/portal-role-task-mongo-setup-docker-service.yml

# Init, unlock wallet

# Don't rebuild sia container (keep it running)

- name: Get sia container status
  docker_container_info:
    name: sia
  register: sia_container_info_result

- name: Create portal setup status directory
  ansible.builtin.file:
    path: "{{ setup_status_dir }}"
    state: directory

- name: Create portal setup status file if not exists
  copy:
    content: ""
    dest: "{{ setup_status_file }}"
    force: no

# TODO: Unite Load and Get into a role task: load portal setup status
- name: Load portal setup status file
  ansible.builtin.slurp:
    src: "{{ setup_status_file }}"
  register: setup_status_slurped
- name: Get portal setup status
  set_fact:
    setup_status: "{{ setup_status_slurped.content | b64decode }}"

- block:
    # TODO: Use community.docker.docker_prune (requires community.docker
    # upgrade) with long timeout.
    # Prune docker
    - name: Prune docker
      ansible.builtin.command: docker system prune --force
      async: "{{ docker_prune_timeout_secs }}"
      poll: 5

    - name: Start Sia docker container
      community.docker.docker_compose:
        project_src: "{{ webportal_dir }}"
        files: docker-compose.yml
        services: sia
        build: True
        nocache: True
        pull: True
        state: present

    - name: Update portal setup status
      ansible.builtin.copy:
        dest: "{{ setup_status_file }}"
        content: ""

  # Don't rebuild when initializing sia with existing seed is in progress
  when: create_env_file_result.changed or sia_container_info_result.container == None or not sia_container_info_result.container.State.Running

# TODO: Use community.docker.docker_prune (requires community.docker upgrade)
# with long timeout
# Prune docker
- name: Prune docker
  ansible.builtin.command: docker system prune --force
  async: "{{ docker_prune_timeout_secs }}"
  poll: 5

- name: Check wallet
  command: docker exec sia siac wallet
  register: sia_wallet_result
  until: "'Wallet status:' in sia_wallet_result.stdout"
  delay: 1
  retries: 120

- name: Set wallet initialized
  set_fact:
    sia_wallet_initialized: "{{ 'Unencrypted,' not in sia_wallet_result.stdout }}"

- name: Set Sia wallet seed defined
  set_fact:
    sia_wallet_seed_defined: "{{ webportal_server_config.sia_wallet_seed is defined }}"

- name: Check Sia blockchain sync status
  command: docker exec sia siac consensus
  register: siac_consensus_result
  until: "'Synced: Yes' in siac_consensus_result.stdout"
  delay: 30
  retries: 20
  failed_when: False

- name: Check if the Sia blockchain is synced
  fail:
    msg: |
      Sia blockchain is not yet synced:

      {{ siac_consensus_result.stdout }}

      Wait for Sia blockchain synced and rerun the playbook.
      To check sync status, execute (on the server):

        docker exec sia siac consensus
  when: "'Synced: Yes' not in siac_consensus_result.stdout"

# Init a wallet with existing seed

# TODO: (2nd appearance) unite Load and Get into a role task: load portal setup status
- name: Load portal setup status file
  ansible.builtin.slurp:
    src: "{{ setup_status_file }}"
  register: setup_status_slurped
- name: Get portal setup status
  set_fact:
    setup_status: "{{ setup_status_slurped.content | b64decode }}"

- block:
    - name: Initialize a wallet with existing seed
      ansible.builtin.expect:
        command: docker exec -it sia siac wallet init-seed
        responses:
          Seed: "{{ webportal_server_config.sia_wallet_seed }}"
      register: sia_init_seed_result
      ignore_errors: True
      # Fail on unknown errors, timeout is expected and is handled later.
      failed_when: sia_init_seed_result.rc != 0 and sia_init_seed_result.msg != 'command exceeded timeout'

    - name: "Set portal setup status to initializing wallet with existing seed"
      ansible.builtin.copy:
        dest: "{{ setup_status_file }}"
        content: "initializing"

  when: not sia_wallet_initialized and sia_wallet_seed_defined and use_existing_sia_seed_if_exists and setup_status != 'initializing'

# Init a new wallet
- block:
    - name: Init a new wallet
      ansible.builtin.command: docker exec sia siac wallet init
      register: wallet_init_result

    - name: Get wallet seed
      set_fact:
        new_sia_wallet_seed: "{{ wallet_init_result.stdout | regex_search('Recovery seed:\\n(.*)\\n', '\\1') | first }}"
      no_log: True

    - name: Update portal config with new seed
      set_fact:
        webportal_server_config: "{{ webportal_server_config | combine(updated) }}"
      vars:
        updated:
          sia_wallet_seed: "{{ new_sia_wallet_seed }}"

    - name: Include saving portal config
      include_tasks: "{{ playbook_dir }}/{{ save_portal_config_handler }}"

    - name: Update .env file
      ansible.builtin.template:
        src: .env.j2
        dest: "{{ webportal_dir }}/.env"

  when: not sia_wallet_initialized and not (sia_wallet_seed_defined and use_existing_sia_seed_if_exists)

- name: Check wallet
  command: docker exec sia siac wallet
  register: sia_wallet_result

- name: Set Sia wallet is locked
  set_fact:
    sia_wallet_locked: "{{ 'Unlocked' not in sia_wallet_result.stdout }}"

- name: Unlock the wallet
  ansible.builtin.expect:
    command: docker exec -it sia siac wallet unlock
    responses:
      Wallet password: "{{ webportal_server_config.sia_wallet_seed }}"
  when: sia_wallet_locked
  register: sia_wallet_unlock_result
  ignore_errors: True

- name: Fail on all wallet unlock errors except rescan in progress, which is handled later
  fail:
    msg: "Error unlocking Sia wallet:\n\n{{ sia_wallet_unlock_result }}"
  when: sia_wallet_unlock_result.rc | default(0) != 0 and 'another wallet rescan is already underway' not in sia_wallet_unlock_result.stdout

- name: Stop playbook if Sia wallet seed initialization is still in progress
  fail:
    msg: |
      Initializing Sia wallet from existing seed takes some time.

      Wait for Sia wallet initialized and rerun the playbook.
      You can check initialization status, executing (on the server):

        docker exec -it sia siac wallet unlock

      You don't have to unlock the wallet manually,
      as a wallet password you can supply empty string and check you don't
      get the following message:

        Could not unlock wallet: [... another wallet rescan is already underway]

      Alternatively execute (on the server):

        docker logs sia && echo

      to check wallet scan progress.
  when: sia_wallet_unlock_result.rc | default(0) != 0 and 'another wallet rescan is already underway' in sia_wallet_unlock_result.stdout

- name: Reset portal setup status
  ansible.builtin.copy:
    dest: "{{ setup_status_file }}"
    content: ""

# TODO: Create an address?
# - name: Create a new address
#   ansible.builtin.command: docker exec sia siac wallet address
#   register: wallet_address_result
# TODO: Log address

# TODO: Should we setup allowance just once?

# Set Sia allowance

- name: Check if allowance is already set
  ansible.builtin.command: docker exec sia siac renter
  register: get_allowance_result

- name: Set allowance is not set flag
  set_fact:
    # When allowance is not set, command 'docker exec sia siac renter'
    # contains line 'Allowance:      0 SC (No current allowance)'.
    allowance_is_not_set: '{{ get_allowance_result.stdout is match(".*\nAllowance:\s+0 SC \(No current allowance\).*") | bool }}'

- name: Set allowance
  ansible.builtin.command: >
    docker exec sia siac renter setallowance
      --amount {{ webportal_allowance.amount }}
      --expected-storage {{ webportal_allowance.expected_storage }}
      --expected-upload {{ webportal_allowance.expected_upload }}
      --expected-download {{ webportal_allowance.expected_download }}
      --expected-redundancy {{ webportal_allowance.expected_redundancy }}
      --max-storage-price {{ webportal_allowance.max_storage_price }}
      --payment-contract-initial-funding {{ webportal_allowance.payment_contract_initial_funding }}
      --period {{ webportal_allowance.period }}
  register: set_allowance_result
  # Verify result to prevent mistakes and misconfiguration, because
  # setallowance might not fail but just switch to interactive mode.
  failed_when: set_allowance_result.stdout.find("Allowance updated. 8 setting(s) changed.") == -1
  when: allowance_is_not_set

# Setup health checks
# TODO: Move to role task file
- block:
    - name: Install Python modules for health checks
      pip:
        name: "{{ item }}"
        state: latest
      loop:
        - discord-webhook
        - python-dotenv
        - requests
        - elasticsearch-curator

    - name: Update hardcoded username in cron file
      ansible.builtin.replace:
        path: "{{ webportal_cron_file }}"
        regexp: "/home/user/"
        replace: "{{ webportal_user_home_dir }}/"

    - name: Add health checks cron entries to user crontab
      command: crontab -u {{ webportal_user }} {{ webportal_cron_file }}

  when: webportal_setup_health_checks
