---
# Stop portal docker services

- name: Include getting present docker-compose files
  include_tasks: tasks/portal-docker-compose-files-get-present.yml

- name: Stop docker services
  ansible.builtin.command: "chdir={{ webportal_dir }} ./dc down --remove-orphans"
  become: True
  become_user: "user"
