---
# Run integration tests against webportal

- name: Run integration tests
  ansible.builtin.command: "docker run --rm --env-file {{ webportal_dir }}/.env node:lts-alpine sh -c 'apk add --no-cache git && git clone https://github.com/SkynetLabs/skynet-js.git --single-branch --depth 1 && cd skynet-js && yarn --frozen-lockfile && SKYNET_JS_INTEGRATION_TEST_SERVER=https://${SERVER_DOMAIN:-${PORTAL_DOMAIN}} SKYNET_JS_INTEGRATION_TEST_SKYNET_API_KEY=${ACCOUNTS_TEST_USER_API_KEY} yarn jest integration'"
  # Retry 5 times with 1 minute in between
  delay: 60
  retries: 5
  register: test_result
  until: test_result.rc == 0
