---
# Report portal status to Discord

# Report status to Discord
- name: Report versions and modified files to Discord
  uri:
    url: "{{ discord_ansible_logs_webhook }}"
    method: "POST"
    body_format: json
    headers:
      Content-Type: "application/json"
    body:
      {
        "content": "Ansible Get Status",
        "embeds": "{{ portals_report_embeds.embeds }}",
      }
    status_code: 204
  register: discord_post_result
