---

# Check if MongoDB replicaset is online and find primary node in the replicaset
# TODO: This ansible playbook task, should be moved to portal role

# Get mongo cluster hosts

- name: Reset mongo cluster hosts
  set_fact:
    mongo_cluster_hosts: []

- name: Get mongo cluster hosts
  set_fact:
    mongo_cluster_hosts: "{{ mongo_cluster_hosts + [item] }}"
  when: >-
    hostvars[item].portal_cluster_id is defined and
    hostvars[item].portal_cluster_id == portal_cluster_id
  loop: "{{ groups['webportals'] }}"
  delegate_to: localhost
  run_once: True

- name: Reset mongo primary host
  set_fact:
    mongo_primary_host: ""

- name: Reset mongo not ok list
  set_fact:
    mongo_not_ok_host_list: []

- name: Include adding the mongo node to the replicaset by primary member
  include_tasks: tasks/portal-role-task-mongo-replicaset-get-status-subtask.yml
  loop: "{{ mongo_cluster_hosts }}"
  loop_control:
    loop_var: "host_item"

- name: Log MongoDB primary member Ansible host
  debug:
    msg: "MongoDB primary member Ansible host: {{ mongo_primary_host }}"
  when: mongo_primary_host | default('') != ''

- name: Log MongoDB primary member Ansible host not found
  debug:
    msg: "MongoDB primary member Ansible host was not found"
  when: mongo_primary_host | default('') == ''

- name: Log MongoDB replicaset is online
  debug:
    msg: "MongoDB replicaset exists on online containers: {{ mongo_replicaset_online }}"
  when: mongo_primary_host | default('') == ''

- name: Log MongoDB replicaset status
  debug:
    msg: |
      MongoDB replicaset status:

      MongoDB replicaset is online: {{ mongo_replicaset_online }}
      MongoDB primary host: {{ mongo_primary_host if (mongo_primary_host != '') else '- not found -' }}
      {% if mongo_not_ok_host_list | length > 0 %}

      There are {{ mongo_not_ok_host_list | length }} host(s) or mongo container(s) offline or they do not run MongoDB replicaset correctly:
      {% for h in mongo_not_ok_host_list %}
      - {{ h }}
      {% endfor %}
      
      Possible reasons:
      - Host(s) is unreachable.
      - Mongo container(s) is not running.
      - Mongo replicaset is not configured correctly on the host(s).
      {% endif %}
