---
# Prepeare server for portal setup

- name: Install required packages
  apt:
    name: "{{ item }}"
    state: latest
  loop:
    - python3-pip
    - git
    # Install libffi-dev as a dependency for pip3 docker-compose
    - libffi-dev
  become: True

- name: Include role to install Docker
  include_role:
    name: geerlingguy.docker
    apply:
      become: True
  vars:
    docker_package_state: latest

- name: Reset SSH connection to reload new user groups (docker)
  ansible.builtin.meta: reset_connection

- name: Install required Python modules
  pip:
    name: "{{ item }}"
    state: latest
  loop:
    - docker
    - docker-compose
    - pexpect

- name: Set timezone
  community.general.timezone:
    name: "{{ webportal_server_timezone }}"
  become: True
  when: webportal_server_set_timezone | default(False)

# Set hostname

- name: Set update hostname flag
  set_fact:
    update_hostname: webportal_update_hostname and ansible_hostname != inventory_hostname
  changed_when: False

- block:
    - name: Update /etc/hosts with new hostname
      ansible.builtin.replace:
        path: /etc/hosts
        regexp: "(\\s+){{ ansible_hostname }}(\\s+.*)?$"
        replace: "\\1{{ inventory_hostname }}\\2"
      become: True

    - name: Set new hostname
      ansible.builtin.hostname:
        name: "{{ inventory_hostname }}"
      become: True

  when: update_hostname

# Disable swap

- name: Disable swap (current server session, non-persistent)
  command: swapoff -a
  become: True

- name: Disable swap in /etc/fstab (persistent, active after reboot)
  replace:
    path: /etc/fstab
    # Need to target 'swap\s+' (not 'swap\s+sw\s+'), because some servers
    # have ' swap ' or ' swap swap ' entries, not the expected ' swap sw '.
    regexp: '^([^#].*?\sswap\s+.*)$'
    replace: '# \1'
    backup: yes
  become: True
