---
# Save webportal user credentials to LastPass

- name: Include checking if user credentials record exists in LastPass
  include_tasks: tasks/secrets-storage-lastpass-check-record-exists.yml
  vars:
    secret_path: "{{ lastpass_portal_credentials_server }}"

# Create and save webportal user password to LastPass (if missing in LastPass)
- block:
    - name: Set webportal user password
      set_fact:
        ansible_become_pass: "{{ lookup('password', '/dev/null chars=ascii_letters,digits length=32') }}"

    - name: Create LastPass record
      local_action:
        module: shell
        cmd: "printf 'URL: {{ ansible_host }}\nUsername: {{ webportal_user }}\nPassword: {{ ansible_become_pass }}' | lpass add --sync now '{{ lastpass_portal_credentials_server }}' --non-interactive"
  when: not secrets_storage_record_exists
