---
# Load user credentials from HashiCorp Vault to ansible_become_pass

- name: Check you are logged in HashiCorp Vault
  fail:
    msg: |
      It seems you are not logged into HashiCorp Vault.
  when: hashicorp_vault_url == '' or hashicorp_vault_token == ''

- name: Load user credentials from HashiCorp Vault (if exist)
  ansible.builtin.uri:
    url: "{{ hashicorp_vault_url }}/v1/{{ hashicorp_vault_portal_credentials_server_incl_backend_dir }}"
    headers:
      X-Vault-Token: "{{ hashicorp_vault_token }}"
    status_code:
      - 200
      - 404
  delegate_to: localhost
  register: user_credentials_result

- name: Fail if user credentials do not exist in HashiCorp Vault
  fail:
    msg: |
      Requested user credentials doesn't seem to exist in HashiCorp Vault:
      - Ansible host: {{ inventory_hostname }}
      - HashiCorp Vault path: {{ hashicorp_vault_url }}/v1/{{ hashicorp_vault_portal_credentials_server_incl_backend_dir }}
  when: user_credentials_result.status != 200

- name: Set ansible become password
  set_fact:
    ansible_become_pass: "{{ user_credentials_result.json.data.data.password }}"