---
# Load yaml or json secure note from HashiCorp Vault to Ansible variable

- name: Include checking if record exists in HashiCorp Vault
  include_tasks: tasks/secrets-storage-hashicorp-vault-check-record-exists.yml
  vars:
    secret_path: "{{ item.secret_path }}"

- name: Return HashiCorp Vault data
  set_fact:
    secrets_storage_data: "{{ hashicorp_vault_get_secret_result.data.data.data[secret_path_extension] }}"
  when: secrets_storage_record_exists
