version: "{{ docker_compose_override_data.version }}"

services:
  sia:
    {{ docker_compose_override_data.services.sia | to_nice_yaml(width=255, indent=2) | indent(4) }}
{% if accounts_on %}
  accounts:
    {{ docker_compose_override_data.services.accounts | to_nice_yaml(width=255, indent=2) | indent(4) }}
{% endif %}

{#- other (non-sia, non-accounts) services rendered when present -#}
{#- do not render accounts_only_services if accounts are off -#}
{#- do not render jaeger_only_services if jaeger is off -#}
{% for k, v in docker_compose_override_data.services.items() %}{% if k != 'sia' and k != 'accounts' and ((k in accounts_only_services and accounts_on) or (k in jaeger_only_services and jaeger_on) or (k not in accounts_only_services and k not in jaeger_only_services)) %}
  {{ k }}:
    {{ v | to_nice_yaml(width=255, indent=2) | indent(4) }}
{% endif %}{% endfor %}

{#- other (non-services, non-version) keys rendered when present -#}
{% for k, v in docker_compose_override_data.items() %}{% if k != 'version' and k != 'services' %}
{{ k }}:
  {{ v | to_nice_yaml(width=255, indent=2) | indent(2) }}
{% endif %}{% endfor %}