version: "3.7"

services:
  sia:
    build:
      args:
        branch: "{{ portal_skyd_version }}"
{% if accounts_on and (portal_accounts_version | default('') != '' or portal_accounts_image_version | default('') != '') %}
  accounts:
    {{ docker_compose_override_data.services.accounts | to_nice_yaml(width=255, indent=2) | indent(4) }}
{% endif %}

{#- other (non-sia, non-accounts) services rendered when present -#}
{% for k, v in docker_compose_override_data.services.items() %}{% if k != 'sia' and k != 'accounts' %}
  {{ k }}:
    {{ v | to_nice_yaml(width=255, indent=2) | indent(4) }}
{% endif %}{% endfor %}
