---
# git tags "{{ portal_repo_all_tags }}"
# git branch "{{ portal_repo_branch }}"
# git commit "{{ portal_repo_commit }}"

portal_repo_version: "{{ portal_repo_version }}"
portal_skyd_version: "{{ portal_skyd_version_used }}"
{% if portal_accounts_version is defined -%}
    portal_accounts_version: "{{ portal_accounts_version_used }}"
{%- else -%}
    # portal_accounts_version: is not defined
{%- endif %}