{
    "embeds": [
{% set host_vars = hostvars[inventory_hostname] %}
        {
            "title": "{{ host_vars.inventory_hostname }}",
            "description": "Ansible action: {{ portal_action }}{{ '\\n' -}}
            {{ '**Portal is disabled**' if (low_disk_space | default(False)) else ('Portal is online' if (host_vars.web_result.status | default(-1) == 200) else '**Portal is not online**') }}{{ '\\n' -}}
            {{ '\\n' -}}
            Portal repository:{{ '\\n' -}}
            - git tags: {{ host_vars.portal_repo_all_tags if host_vars.portal_repo_all_tags is defined else '-- failed to get the value --' }}{{ '\\n' -}}
            - git branch: {{ host_vars.portal_repo_branch if host_vars.portal_repo_branch is defined else '-- failed to get the value --' }}{{ '\\n' -}}
            - git commit {{ host_vars.portal_repo_commit if host_vars.portal_repo_commit is defined else '-- failed to get the value --' }}{{ '\\n' -}}
            {{ '\\n' -}}
            - portal_repo_version: **{{ host_vars.portal_repo_version if host_vars.portal_repo_version is defined else '-- failed to get the value --' }}**{{ '\\n' -}}
            {{ '\\n' -}}
            Versions from docker-compose.override.yml:{{ '\\n' -}}
            - portal_skyd_version: **{{ host_vars.portal_skyd_version_used if host_vars.portal_skyd_version_used is defined else '-- failed to get the value --' }}**{{ '\\n' -}}
            - portal_accounts_version: **{{ host_vars.portal_accounts_version_used if host_vars.portal_accounts_version_used is defined else '-- failed to get the value --' }}**{{ '\\n' -}}
            {{ '\\n' -}}
            {{ 'No files modified after last Ansible docker services re-/start'
                if
                    host_vars.portal_modified_files.stdout == ''
                else
                    '**' + (host_vars.portal_modified_files.stdout.count('\n') + 1)|string + ' files were modified** after last Ansible docker services re-/start.\\n'
                    + 'First 20 files:\\n'
                    + '\\n'.join(host_vars.portal_modified_files.stdout.split('\n')[:20] |  map('regex_replace', '^', '- '))
            }}",
            "color": {{ 16753920 if (low_disk_space | default(False)) else (50782 if (host_vars.web_result.status | default(-1) == 200) else 16711680) }}
        }
    ]
}
