- name: Rollback Skynet Webportals
  hosts: webportals
  remote_user: "{{ webportal_user }}"
  gather_facts: False

  # Limit concurrency
  serial: 1

  # Stop on first error, do not execute on the next host
  any_errors_fatal: True

  # Playbook specific vars
  vars:
    max_hosts: "{{ groups['webportals'] | length - 1}}"
    # Rebuild docker services
    docker_compose_build: True
    set_portal_versions: False
    portal_action: "portal-rollback"

  tasks:
    # Check '--limit' is used
    - name: Fail if you are targeting all dev and prod webportals
      include_tasks: tasks/host-limit-check.yml

    # Don't rollback portals on takedown
    - block:
        - name: Stop play for portals in webportals_takedown group
          debug:
            msg: "Will not rollback portal in webportals_takedown group"

        - name: Stop play for portals in webportals_takedown group
          meta: end_host

      when: "'webportals_takedown' in group_names"

    # Disable health checks and stop docker services
    - name: Include disabling health check and stopping portal docker services
      include_tasks: tasks/portal-stop.yml

    # Get last working config (status.tested)
    - name: Include getting last working portal versions (status.tested)
      include_tasks: tasks/portal-versions-get-last-status-tested-versions.yml

    # Update previous status to 'rollback-tested'
    - name: Include setting previous status to 'rollback-tested'
      include_tasks: tasks/portal-logs-update-status.yml
      vars:
        tag_from: "tested"
        tag_to: "rollback-tested"

    # Set portal version (checkout skynet-webportal repo version)
    - name: Set portal version (checkout skynet-webportal repo version)
      ansible.builtin.git:
        repo: "{{ webportal_repo_url }}"
        dest: "{{ webportal_dir }}"
        version: "{{ portal_repo_version }}"
        update: True
        force: True

    # Rollback config files
    - name: Include rollback config files
      include_tasks: tasks/portal-versions-rollback-config-files.yml

    # Rebuild docker images, start the docker services and log activities
    - name: Include starting portal docker services
      include_tasks: tasks/portal-docker-services-start.yml

    # Run portal integration tests
    - name: Include running portal integration tests
      include_tasks: tasks/portal-integration-tests-run.yml

    # Include running portal health checks
    - name: Include running portal health checks
      include_tasks: tasks/portal-health-checks-run.yml

    # Update log status to 'tested'
    - name: Update log status to 'tested'
      include_tasks: tasks/portal-logs-update-status.yml
      vars:
        tag_from: "started"
        tag_to: "tested"

    # Enable health check
    - name: Include enabling portal health check
      # do not enable health checks on hosts from out_of_LB group
      when: ('out_of_LB' not in group_names)
      include_tasks: tasks/portal-health-check-enable.yml

    # Get portal status
    - name: Include getting portal status
      include_tasks: tasks/portal-status-get-status.yml

    # Report portal status to Discord
    - name: Include reporting status to Discord
      include_tasks: tasks/portal-status-report-to-discord.yml
