- name: Disable Skynet Webportal Health Checks
  hosts: webportals
  remote_user: "{{ webportal_user }}"
  gather_facts: False

  # High limit on concurrency since this script is typically used when a bug is
  # found so we want to address it quickly.
  serial: 10

  # Stop on first error, do not execute on the next host
  any_errors_fatal: True

  # Playbook specific vars
  vars:
    max_hosts: "{{ groups['webportals'] | length - 1 }}"
    portal_action: "portal-disable-health-checks"

  tasks:
    # Check '--limit' is used. This is to protect against taking the entire
    # fleet down
    - name: Fail if you are targeting all dev and prod webportals
      include_tasks: tasks/host-limit-check.yml

    # Skip portals on takedown as they are already out of the LB
    - block:
        - name: Stop play for portals in webportals_takedown group
          debug:
            msg: "Will not disable the health checks for portals in webportals_takedown group"

        - name: Stop play for portals in webportals_takedown group
          meta: end_host

      when: "'webportals_takedown' in group_names"

    # Check/install Ansible prerequisites
    - name: Include preparing portal prerequisites
      include_tasks: tasks/portals-prepare.yml

    # Disable health check
    - name: Include disabling portal health check
      include_tasks: tasks/portal-health-check-disable.yml
