- name: Deploy Skynet Webportals to Current Batch Hosts
  hosts: webportals
  remote_user: "{{ webportal_user }}"
  gather_facts: False

  # Limit concurrency
  serial: 1

  # Stop on first error, do not execute on the next host
  any_errors_fatal: True

  # Playbook specific vars
  vars:
    max_hosts: "{{ groups['webportals'] | length - 1 }}"
    lastpass_required: True

  tasks:
    
    # Check '--limit' is used
    - name: Fail if you are targeting all dev and prod webportals
      include_tasks: tasks/host-limit-check.yml

    - name: Disable swap (current server session, non-persistent)
      command: swapoff -a
      become: True

    - name: Disable swap in /etc/fstab (persistent, active after reboot)
      replace:
        path: /etc/fstab
        # Need to target 'swap\s+' (not 'swap\s+sw\s+'), because some servers
        # have ' swap ' or ' swap swap ' entries, not the expected ' swap sw '.
        regexp: '^([^#].*?\sswap\s+.*)$'
        replace: '# \1'
        backup: yes
      become: True
